<!-- NAVBAR -->
<div class="navbar-fixed">
  <nav class="deep-purple">
    <div class="nav-wrapper row">
      <div class="col s12">
        <a routerLink="/" class="brand-logo" disabled>Muelle 13</a>
        <a href="#" data-target="menu-responsive" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <div *ngIf="!user.isLoggedIn(); else logout">
            <li>
              <a routerLink="/cart" mat-icon-button>
                <mat-icon *ngIf="cart.length" matBadge="{{ cart.length }}" matBadgeColor="warn">shopping_cart</mat-icon>
              </a>
            </li>
            <li>
              <a mat-icon-button routerLink="/home" routerLinkActive="mat-accent">
                <mat-icon>home</mat-icon>
              </a>
            </li>
            <li>
              <a mat-icon-button [matMenuTriggerFor]="menu" routerLinkActive="mat-accent">
                <mat-icon>account_box</mat-icon>
              </a>
              <mat-menu #menu="matMenu" xPosition="before">
                <a routerLink="/signup" routerLinkActive="active current" mat-menu-item>
                  <span>Sign Up</span>
                </a>
                <mat-divider></mat-divider>
                <a routerLink="/login" routerLinkActive="active current" mat-menu-item>
                  <span>Sign In</span>
                </a>
              </mat-menu>
            </li>
          </div>
          <ng-template #logout>
            <!--<li>
              <a mat-icon-button>
                <mat-icon matBadge="{{ 2 + 6 }}" matBadgeColor="warn">notifications</mat-icon>
              </a>
            </li>-->
            <li>
              <a mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
              </a>
              <mat-menu #menu="matMenu" xPosition="before">
                <a routerLink="/profile" mat-menu-item>
                  <mat-icon>account_circle</mat-icon>
                  <span>Tu perfil</span>
                </a>
                <mat-divider></mat-divider>
                <button mat-menu-item disabled>
                  <mat-icon>help</mat-icon>
                  <span>Ayuda</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>settings</mat-icon>
                  <span>Configuraciones</span>
                </button>
                <a (click)="onLogout()" mat-menu-item>
                  <mat-icon>keyboard_return</mat-icon>
                  <span>Cerrar sesión</span>
                </a>
              </mat-menu>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- SIDENAV -->
<ul class="sidenav" id="menu-responsive">
  <div *ngIf="!user.isLoggedIn(); else logoutmobile">
    <li><a class="subheader">Sign Up or Sign In</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li routerLinkActive="active current"><a routerLink="/home" class="sidenav-close">Home</a></li>
    <li routerLinkActive="active current"><a routerLink="/signup" class="sidenav-close">Sign Up</a></li>
    <li routerLinkActive="active current"><a routerLink="/login" class="sidenav-close">Sign In</a></li>
    <li>
      <a routerLink="/cart" mat-icon-button class="sidenav-close">
        <mat-icon *ngIf="cart.length" matBadge="{{ cart.length }}" matBadgeColor="warn">shopping_cart</mat-icon>
      </a>
    </li>
  </div>

  <ng-template #logoutmobile>
    <li><a class="subheader">Catálogos</a></li>
    <li routerLinkActive="active current">
      <a routerLink="/internal" class="sidenav-close">
        <i class="material-icons">note</i>
        Gastos Internos
      </a>
    </li>
    <li routerLinkActive="active current">
      <a routerLink="/suppliers" class="sidenav-close">
        <i class="material-icons">local_shipping</i>
        Proveedores
      </a>
    </li>
    <li routerLinkActive="active current">
      <a routerLink="/menus" class="sidenav-close">
        <i class="material-icons">restaurant_menu</i>
        Menu
      </a>
    </li>
    <li routerLinkActive="active current">
      <a routerLink="/orders">
        <i class="material-icons">assignment</i>
        Ordenes
      </a>
    </li>
    <li routerLinkActive="active current">
      <a routerLink="/sales" class="sidenav-close">
        <i class="material-icons">attach_money</i>
        Ventas
      </a>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a class="subheader">Cuenta</a></li>
    <li>
      <a routerLink="/profile" class="sidenav-close">
        <i class="material-icons">account_circle</i>
        Perfil
      </a>
    </li>
    <li>
      <a (click)="onLogout()" class="sidenav-close">
        <i class="material-icons">keyboard_return</i>
        Cerrar sesión
      </a>
    </li>
  </ng-template>
</ul>