<mat-sidenav-container class="app-sidenav-container">

  <mat-sidenav #sidenav class="app-sidenav" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-list role="list">
      <h3 mat-subheader>Catálogos</h3>
      <a routerLink="/internal">
        <mat-list-item routerLinkActive="active current">
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>Gastos Internos</h4>
        </mat-list-item>
      </a>
      <a routerLink="/external">
        <mat-list-item routerLinkActive="active current">
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>Gastos Externos</h4>
        </mat-list-item>
      </a>
      <a routerLink="/invoice">
        <mat-list-item routerLinkActive="active current">
          <mat-icon mat-list-icon>description</mat-icon>
          <h4 mat-line>Facturas</h4>
        </mat-list-item>
      </a>
      <a routerLink="/suppliers">
        <mat-list-item routerLinkActive="active current">
          <mat-icon mat-list-icon>local_shipping</mat-icon>
          <h4 mat-line>Proveedores</h4>
        </mat-list-item>
      </a>
      <a routerLink="/menus">
        <mat-list-item routerLinkActive="active current">
          <mat-icon mat-list-icon>restaurant_menu</mat-icon>
          <h4 mat-line>Menu</h4>
        </mat-list-item>
      </a>
      <a routerLink="/orders">
        <mat-list-item routerLinkActive="active current">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line>Ordenes</h4>
        </mat-list-item>
      </a>
      <a routerLink="/sales">
        <mat-list-item routerLinkActive="active current">
          <mat-icon mat-list-icon>attach_money</mat-icon>
          <h4 mat-line>Ventas</h4>
        </mat-list-item>
      </a>
      <!-- DIVIDER HERE -->
      <mat-divider></mat-divider>
      <h3 mat-subheader>Cuenta</h3>
      <a routerLink="/profile">
        <mat-list-item routerLinkActive="active current">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <h4 mat-line>Perfil</h4>
        </mat-list-item>
      </a>
    </mat-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-sidenav-container>