.left p {
  min-height: 8em;
}

#totalOrder {
  background: #ffba92;
}

#totalGanancia {
  background: #35b0ab;
}

#totalPlatillos {
  background: #df7599;
}

img {
  position: absolute;
  width: 120px;
  top: 45%;
  left: 33%;
  right: 50%;
  bottom: 50%;
}

.card-menu {
  height: 250px;
}

:host {
  display: block;
  margin-top: 1rem;
}

.card-info {
  margin-bottom: 1rem;
}