<ng-template [ngIf]="orders.length > 0">
  <div class="row">
    <div class="col s12 m12 l4">
      <mat-card class="card-menu" id="totalOrder">
        <mat-card-header>
          <mat-card-title class="left">
            <p class="white-text">Total de ordenes: {{orders.length}}</p>
          </mat-card-title>
          <mat-card-subtitle><img mat-card-image src="/assets/img/order.png" alt=""></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content id="card"></mat-card-content>
      </mat-card>
    </div>

    <div class="col s12 m12 l4">
      <mat-card class="card-menu" id="totalGanancia">
        <mat-card-header>
          <mat-card-title class="left">
            <p class="white-text">Total de ganancia: {{totalEarnings(orders) | currency}}</p>
          </mat-card-title>
          <mat-card-subtitle><img mat-card-image src="/assets/img/money.png" alt=""></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content id="card">
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col s12 m12 l4">
      <mat-card class="card-menu" id="totalPlatillos">
        <mat-card-header>
          <mat-card-title class="left">
            <p class="white-text">Total de platillos: {{totalItems(orders)}}</p>
          </mat-card-title>
          <mat-card-subtitle><img mat-card-image src="/assets/img/food.png" alt=""></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content id="card">
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="container">
    <mat-card class="card-info" *ngFor="let order of orders | paginate: {itemsPerPage: 2, currentPage: p}">
      <mat-card-header>
        <mat-card-title>Orden ID: {{ order._id }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <p><b>Información</b></p>
            <p>Nombre: {{order.firstName}} {{order.lastName}}</p>
            <p>Telefono: {{ order.phone }}</p>
            <p>Fecha: {{ order.date | date:'medium' }}</p>
          </div>
          <div class="col">
            <p><b>Ordenes</b></p>
            <p *ngFor="let item of order.items">{{ item.name }}</p>
          </div>
        </div>
        <p><b>Total: {{orderTotal(order.items) | currency}}</b></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="downloadHandler(order._id)">Descargar</button>
        <button mat-raised-button color="warn" (click)='deleteOrder(order._id)' class="right">Eliminar</button>
      </mat-card-actions>
    </mat-card>
    <mat-progress-bar *ngIf="isResultsLoading" mode="indeterminate"></mat-progress-bar>
    <pagination-controls class="my-pagination mat-body-1" (pageChange)="p = $event"></pagination-controls>
  </div>
</ng-template>
<p class="info-text mat-body-1" *ngIf="orders.length <= 0">
  No hay ordenes agregados todavía!
</p>