mat-card {
  margin-top: 1rem;
}

.mat-icon-view {
  color: rgba(0, 0, 0, 0.54);
}

#center {
  min-height: 30em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 312px;
}

#card {
  min-height: 10em;
}

#info-text {
  min-height: 5em;
}

.download-pdf {
  margin-left: 1rem;
}