<div class="row">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Lista de Menus">
      <div class="col s12 m12 l12 xl12">
        <mat-spinner *ngIf="isLoading"></mat-spinner>

        <ng-template [ngIf]="menuService.menus.length > 0 && !isLoading">
          <div class="search-div">
            <a [routerLink]="['/menus/create']" mat-raised-button color="primary">
              <mat-icon>add</mat-icon>Nuevo
            </a>
          </div>

          <div class="row">
            <div *ngFor="let menu of menuService.menus | paginate: {itemsPerPage: 6, currentPage: p}">
              <div class="col s12 m12 l4">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title class="left">{{ menu.name }}</mat-card-title>
                    <a class="right" href="{{ menu.image }}" target="_blanck">
                      <mat-icon class="mat-icon-view">launch</mat-icon>
                    </a>
                  </mat-card-header>
                  <img mat-card-image src="{{ menu.image }}" alt="{{ menu.title }}">
                  <mat-card-content>
                    <p>Tipo de comida: {{ menu.type }}</p>
                    <p>Descripción: {{ menu.description | truncate: [140, '...'] }}</p>
                    <p>Precio: {{ menu.price | currency:'MXN' }}</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <a mat-raised-button [routerLink]="['/menus/edit', menu._id]" class="black-text">Edit</a>
                    <a mat-raised-button (click)="onDeleteMenu(menu._id)" color="warn" class="btn right">Delete</a>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
          <pagination-controls class="my-pagination mat-body-1" (pageChange)="p = $event"></pagination-controls>
        </ng-template>

        <p class="info-text mat-body-1" *ngIf="menuService.menus.length <= 0 && !isLoading">
          No hay Menus agregados todavía!
          <br>
          <a [routerLink]="['/menus/create']" mat-raised-button color="primary">Crear nuevo menu</a>
        </p>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>