<div class="row">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Registro" *ngIf="step === 1" (opened)="setStep(1)">
      <div class="col s12 m12 l6 offset-l3">
        <div class="card">
          <div class="card-action white-text" id="card_back">
            <span class="card-title"><b>Ventas</b></span>
          </div>
          <form #saleForm="ngForm" (ngSubmit)="addSale(saleForm); prevStep()">
            <div class="card-content">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="saleService.selectedSale._id"
                placeholder="Enter id">
              <div class="row">
                <div class="input-field col s12">
                  <input [matDatepicker]="dateSell" placeholder="Seleccionar fecha" name="dateSell" #dateSell="ngModel"
                    [(ngModel)]="saleService.selectedSale.dateSell">
                  <mat-datepicker-toggle matSuffix [for]="dateSell"></mat-datepicker-toggle>
                  <mat-datepicker #dateSell></mat-datepicker>
                </div>
                <div class="input-field col s12">
                  <input type="text" name="table" #table="ngModel" [(ngModel)]="saleService.selectedSale.table"
                    placeholder="Ingresa el numero de mesa">
                </div>
                <div class="input-field col s12">
                  <input type="text" name="dish_drink" #dish_drink="ngModel"
                    [(ngModel)]="saleService.selectedSale.dish_drink" placeholder="Ingresa el Platillo o Bebida">
                </div>
                <div class="input-field col s12">
                  <input type="text" name="quantity" #quantity="ngModel" [(ngModel)]="saleService.selectedSale.quantity"
                    placeholder="Ingresa la cantidad">
                </div>
                <div class="input-field col s12">
                  <input type="text" name="toPay" #toPay="ngModel" [(ngModel)]="saleService.selectedSale.toPay"
                    placeholder="Ingresa el monto a pagar">
                </div>
                <select class="browser-default" name="payType" #payType="ngModel"
                  [(ngModel)]="saleService.selectedSale.payType">
                  <option value="" disabled selected>Elige una opción</option>
                  <option value="Tarjeta de Crédito/Débito">Tarjeta de Crédito/Débito</option>
                  <option value="Efectivo">Efectivo</option>
                </select>
              </div>
            </div>
            <div class="card-action">
              <button mat-raised-button color="accent" class="btn">
                Save
              </button>
              <button mat-raised-button color="warn" type="button" class="btn right"
                (click)="resetForm(saleForm); prevStep()">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Lista de Ventas" *ngIf="step === 0" (opened)="setStep(0)">
      <div class="col s12 m12 l12 xl12">
        <div class="search-div">
          <button mat-raised-button color="primary" (click)="nextStep()">
            <mat-icon>add</mat-icon>
            Nuevo
          </button>
        </div>
        <table class="card responsive-table">
          <thead>
            <th>Fecha Venta</th>
            <th>No. Mesa</th>
            <th>Platillo/Bebida</th>
            <th>Cantidad</th>
            <th>Monto a Pagar</th>
            <th>Tipo Pago</th>
            <th>Operaciones</th>
          </thead>
          <tbody>
            <tr *ngFor="let sale of saleService.sales">
              <td>{{ sale.dateSell | date: 'dd/MM/yy'}}</td>
              <td>{{ sale.table }}</td>
              <td>{{ sale.dish_drink }}</td>
              <td>{{ sale.quantity }}</td>
              <td>{{ sale.toPay | currency }}</td>
              <td>{{ sale.payType }}</td>
              <td>
                <a (click)='editSale(sale); nextStep()'>
                  <i id="icon-cursor" class='material-icons'>edit</i>
                </a>
                <a (click)='deleteSale(sale._id)'>
                  <i id="icon-cursor" class='material-icons'>delete</i>
                </a>
              </td>
            </tr>
          </tbody>
          <p class="info-text mat-body-1"><b>Total:</b> {{ getTotal() | currency:'MXN' }}</p>
        </table>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>