<div class="row">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Registro">
      <div class="col s12 m12 l6 offset-l3">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <div class="card" *ngIf="!isLoading">
          <div class="card-action white-text" id="card_back">
            <span class="card-title"><b>Menus</b></span>
          </div>
          <form [formGroup]="menuForm" (ngSubmit)="onAddMenu()">
            <div class="card-content">
              <div class="row">
                <label>Tipo de alimento/bebida</label>
                <select class="browser-default" name="type" formControlName="type">
                  <option value="" disabled selected>Elige una opción</option>
                  <option value="Bebida">Bebida</option>
                  <option value="Comida fria">Comida fria</option>
                  <option value="Comida caliente">Comida caliente</option>
                </select>
                <div class="input-field col s12">
                  <input type="text" formControlName="name" placeholder="Ingrese nombre">
                </div>
                <div class="input-field col s12">
                  <textarea formControlName="description" class="materialize-textarea"
                    placeholder="Escriba una descripcion"></textarea>
                </div>
                <div class="input-field col s12">
                  <input type="number" formControlName="price" placeholder="Ingrese precio">
                </div>
                <div class="input-field col s12">
                  <a mat-raised-button (click)="image.click()">Pick Image</a>
                  <input #image type="file" id="image" (change)="onSelectedFile($event)" accept="image/*">
                </div>
                <!-- SHOW IMAGE -->
                <img [src]="thumbnail" class="center responsive-img">
              </div>
            </div>
            <div class="card-action">
                <input type="hidden" formControlName="_id">
              <button mat-raised-button color="accent" class="btn">Save</button>
              <button mat-raised-button color="warn" type="button" class="btn right" (click)="onCancel()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>