<div class="row">
  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="Registro" *ngIf="step === 1" (opened)="setStep(1)">
      <div class="col s12 m12 l6 offset-l3">
        <div class="card">
          <div class="card-action white-text" id="card_back">
            <span class="card-title"><b>Fotos</b></span>
          </div>
          <form [formGroup]="photoForm" (ngSubmit)="addPhoto(); prevStep()">
            <div class="card-content">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" formControlName="title" placeholder="Título" required>
                </div>
                <div class="input-field col s12">
                  <textarea formControlName="description" class="materialize-textarea" placeholder="Descripción"
                    required></textarea>
                </div>
                <div class="input-field col s12">
                  <a mat-raised-button (click)="image.click()">Pick Image</a>
                  <input #image type="file" id="imageURL" (change)="onSelectedFile($event)" accept="image/*">
                </div>
                <!-- SHOW IMAGE -->
                <img [src]="thumbnail" class="center responsive-img">
              </div>
            </div>
            <div class="card-action">
              <input type="hidden" formControlName="_id">
              <button mat-raised-button color="accent" class="btn">Save</button>
              <button mat-raised-button color="warn" type="button" class="btn right"
                (click)="prevStep()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Lista de Fotos" *ngIf="step === 0" (opened)="setStep(0)">
      <div class="col s12 m12 l12 xl12">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <ng-template [ngIf]="photoService.photos.length > 0 && !isLoading">
          <div class="search-div">
            <button mat-raised-button color="primary" (click)="nextStep()">
              <mat-icon>add</mat-icon>
              Nuevo
            </button>
          </div>
          <div class="row">
            <div *ngFor="let photo of photoService.photos | paginate: {itemsPerPage: 6, currentPage: p}">
              <div class="col s12 m12 l4">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title class="left">{{ photo.title }}</mat-card-title>
                    <a class="right" href="{{ photo.imageURL }}" target="_blanck">
                      <mat-icon class="mat-icon-view">launch</mat-icon>
                    </a>
                  </mat-card-header>
                  <img mat-card-image src="{{ photo.imageURL }}" alt="{{ photo.title }}">
                  <mat-card-content>
                    <p>{{ photo.description }}</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <a mat-raised-button (click)="editPhoto(photo); nextStep()" class="black-text">Edit</a>
                    <a mat-raised-button (click)="deletePhoto(photo._id)" color="warn" class="btn right">Delete</a>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
          <pagination-controls class="my-pagination mat-body-1" (pageChange)="p = $event"></pagination-controls>
        </ng-template>

        <p class="info-text mat-body-1" *ngIf="photoService.photos.length <= 0 && !isLoading">
          No hay Fotos agregadas todavía!
          <br>
          <button mat-raised-button color="primary" (click)="nextStep()">Crear nueva foto</button>
        </p>

      </div>
    </mat-tab>

  </mat-tab-group>
</div>