.showcase {
  background-image: url('../../../assets/img/boat_sea.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.section-a {
  padding: 20px;
  background: #8b4367;
  color: rgb(255, 255, 255);
  text-align: center;
}

.section-b {
  padding: 20px;
  background: #213458;
  text-align: center;
}

mat-card {
  margin-top: 1rem;
}

#center {
  min-height: 30em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 412px;
  height: 432px;
}

#card {
  min-height: 10em;
}

#info-text {
  min-height: 5em;
}

.page-footer {
  background: #543864;
}

.text {
  font-family: 'Kalam', cursive;
}