<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="row" *ngIf="menuService.menus.length > 0 && !isLoading">
  <div *ngFor="let menu of menuService.menus">
    <div class="col s12 m12 l4">
      <mat-card class="animated fadeInDown">
        <mat-card-header>
          <mat-card-title>{{ menu.name }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ menu.image }}" alt="{{ menu.name }}">
        <mat-card-content>
          <p>{{ menu.price | currency:'MXN' }}</p>
          <p class="rigth">
            <mat-icon>shopping_cart</mat-icon>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<p class="info-text mat-body-1" *ngIf="menuService.menus.length <= 0 && !isLoading">
  No hay Menus todavía!
</p>