<div class="showcase">
  <h1 class=".mat-display-4 white-text text">Bienvenido a Muelle 13</h1>
  <p class=".mat-card-title white-text">
    El restaurante que ofrece los mejores mariscos a buen precio y excelente servicio.
  </p>
</div>

<div class="section-a">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <a mat-raised-button color="accent" routerLink="/menulistorder" routerLinkActive="active current">
    Ordenar Ahora!
  </a>
  <div class="row" *ngIf="menuService.menus.length > 0 && !isLoading">
    <div *ngFor="let menu of menuService.menus">
      <div class="col s12 m12 l4">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ menu.name }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{ menu.image }}" alt="{{ menu.name }}">
          <mat-card-content class="text">
            <p id="info-text">{{ menu.description | truncate: [140, '...'] }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <p class="info-text mat-body-1" *ngIf="menuService.menus.length <= 0 && !isLoading">
    No hay Menus todavía!
  </p>
</div>
<div class="section-b">
  <h5 class="white-text">Ubicación del establecimiento</h5>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14908.569095690891!2d-100.7507007!3d20.9065949!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8e0d7d1ef5d1d4e8!2sMuelle+13!5e0!3m2!1ses-419!2smx!4v1558909671600!5m2!1ses-419!2smx"
    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen>
  </iframe>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text text">Company Muelle 13</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full
          time job. Any amount would help support and continue development on this project and is greatly appreciated.
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Red Social</h5>
        <ul>
          <li>
            <a class="white-text" href="https://www.facebook.com/muelle13sma/" target="_blank">
              <i class="fab fa-facebook-square"></i>
              Facebook
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3">SAM 13</a>
    </div>
  </div>
</footer>