<div class="container">
  <mat-toolbar>Resumen de Orden ({{ cart.length }})</mat-toolbar>

  <div class="row" *ngIf="cart.length; else noItemsInCart">
    <div class="info-total">
      <span>Total: </span>
      <strong>{{cartTotal | currency:'MXN' }}</strong>
    </div>

    <div class="col s12 m12 l4">
      <div *ngFor="let item of cart">
        <div class="col s12 m12 l12">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ item.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ item.description }}</p>
              <p>Precio: {{ item.price | currency }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>


    <div class="col s12 m12 l8">
      <div class="card">
        <div class="card-action white-text" id="card_back">
          <span class="card-title"><b>Información de referencia</b></span>
        </div>
        <form class="needs-validation" novalidate="" [formGroup]="checkoutForm" (ngSubmit)="doCheckout()">
          <div class="card-content">
            <div class="row">
              <div class="col s12">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required=""
                  formControlName="firstName">
                <div class="invalid-feedback">Valid first name is required.</div>
              </div>
              <div class="col s12">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required=""
                  formControlName="lastName">
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>
              <div class="col s12">
                <label for="email">Email <span class="text-muted"></span></label>
                <input type="email" email class="form-control" id="email" placeholder="you@example.com"
                  formControlName="email">
                <div class="invalid-feedback">Please enter a valid email address for shipping updates.</div>
              </div>

              <div class="col s12">
                <label for="address">number phone</label>
                <input type="text" class="form-control" id="phone" placeholder="444 555 5555" required=""
                  formControlName="phone">
                <div class="invalid-feedback">Please enter your shipping address.</div>
              </div>
            </div>
          </div>
          <div class="card-action">
            <button mat-raised-button color="accent" [disabled]="!checkoutForm.valid"  type="submit">
              Realizar Pedido
            </button>
          </div>
        </form>
      </div>
      <div id="snackbar"></div>

    </div>
  </div>

  <ng-template #noItemsInCart>
    <p class="info-text">Tu carrito esta vacío</p>
  </ng-template>

</div>