<div class="row">
  <div class="col s12 m12 l6 offset-l3">
    <mat-card>
      <mat-card-title>404</mat-card-title>
      <hr>
      <mat-card-subtitle>Oops! Page Not Found</mat-card-subtitle>
      <mat-card-content>
        <p class="mat-body-1">
          We're sorry, but we can't find the page you were looking for. It's probably some thing
          we've done wrong but now we know about it and we'll try to fix. In the meantime, try one of these options.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="accent" routerLink="/">Return home</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>