<div class="row">
  <div class="col 14 m4 sl4" *ngFor="let item of menuService.menus">
    <div class="card" id="card">
      <div  id="center" class="card-image">
        <img src="{{ item.image }}" class="responsive-img">
        <span class="card-title">{{ item.name }}</span>
      </div>
      <div class="card-content">
        <p>{{ item.price | currency:'MXN' }}</p>
        <p id="info-text">{{ item.description }}</p>
      </div>
      <div class="card-action">
          <button type="button" class="btn" (click)="addItemToCart(item)" [class.btn-outline-primary]="itemInCart(item).length">
              <i class="fas fa-shopping-cart"></i>
          </button>
      </div>
    </div>
  </div>
</div>