
#center {  
  min-height: 30em;
}
.card-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 412px;
  height: 432px;
  
}

#card{
  min-height: 40em;
}

#info-text{
  min-height: 5em;
}

